# Eat Safe, Love

## Notebook Set Up

In [49]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [170]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [171]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [172]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [173]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [134]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':20}
fields = {'BusinessName':1,'BusinessType':1,'BusinessTypeID':1}
# Use count_documents to display the number of documents in the result
results = establishments.count_documents(query)
print(f'Number of Documents with Hygiene score of 20: {results}')

# Display the first document in the results using pprint
results_doc = establishments.find(query,fields)
pprint(list(results_doc.limit(1)))
#pprint(establishments.find_one(query))
#pprint((list(results_doc)))

Number of Documents with Hygiene score of 20: 41
[{'BusinessName': 'The Chase Rest Home',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  '_id': ObjectId('63c1023a007121b1b626ba77')}]

In [135]:
results_doc = establishments.find(query,fields)

# Convert the result to a Pandas DataFrame
results_analysis_1=(list(results_doc))
results_analysis_dff = pd.DataFrame(results_analysis_1)

# Display the number of rows in the DataFrame
print('Rows in DataFrame: ', len(results_analysis_dff))

# Display the first 10 rows of the DataFrame
results_analysis_dff.head(10)

Rows in DataFrame:  41

,_id,BusinessName,BusinessType,BusinessTypeID
0,63c1023a007121b1b626ba77,The Chase Rest Home,Caring Premises,5
1,63c1023a007121b1b626bdfb,Brenalwood,Caring Premises,5
2,63c1023a007121b1b626c0ff,Melrose Hotel,Hotel/bed & breakfast/guest house,7842
3,63c1023a007121b1b626c2f3,Seaford Pizza,Takeaway/sandwich shop,7844
4,63c1023a007121b1b626c30c,Golden Palace,Restaurant/Cafe/Canteen,1
5,63c1023a007121b1b626cc9a,Ashby's Butchers,Retailers - other,4613
6,63c1023a007121b1b626cebb,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1
7,63c1023b007121b1b626e3e9,Golden Palace,Takeaway/sandwich shop,7844
8,63c1023b007121b1b626e82a,The Tulip Tree,Restaurant/Cafe/Canteen,1
9,63c1023b007121b1b626f050,F & S,Retailers - other,4613

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [140]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =  {'LocalAuthorityName':'City of London Corporation','RatingValue': {'$in':['4','5']}}
fields = {'BusinessName':1,'BusinessType':1,'BusinessTypeID':1, 'RatingValue':1}

# Use count_documents to display the number of documents in the result
results = establishments.count_documents(query)
print(f'Number of Documents with London as the Local Authority \nand has a RatingValue greater than or equal to 4: {results}')

# Display the first document in the results using pprint
results_doc = establishments.find_one(query)
pprint(results_doc)

Number of Documents with London as the Local Authority
and has a RatingValue greater than or equal to 4: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('63c1023b007121b1b626d48e'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [141]:
# Convert the result to a Pandas DataFrame
results_doc = establishments.find(query,fields)
results_analysis_2=(list(results_doc))
results_analysis_dff = pd.DataFrame(results_analysis_2)

# Display the number of rows in the DataFrame
print('Rows in DataFrame: ', len(results_analysis_dff))

# Display the first 10 rows of the DataFrame
results_analysis_dff.head(10)

Rows in DataFrame:  33

,_id,BusinessName,BusinessType,BusinessTypeID,RatingValue
0,63c1023b007121b1b626d48e,Charlie's,Other catering premises,7841,4
1,63c1023b007121b1b626d7b5,Mv City Cruises Erasmus,Other catering premises,7841,5
2,63c1023b007121b1b626e306,Benfleet Motor Yacht Club,Other catering premises,7841,4
3,63c1023b007121b1b626f101,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,5
4,63c1023b007121b1b626f107,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,5
5,63c1023c007121b1b626f80e,Mv Valulla,Other catering premises,7841,5
6,63c1023c007121b1b627192d,Tereza Joanne,Other catering premises,7841,5
7,63c1023c007121b1b6271ce1,Brick Lane Brews,Restaurant/Cafe/Canteen,1,4
8,63c1023c007121b1b6271cfd,WH Smith,Retailers - other,4613,5
9,63c1023c007121b1b6271cfe,City Bar & Grill,Restaurant/Cafe/Canteen,1,5

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [207]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

rest_lat = 51.49014200
rest_lon = 0.08384000
degree_search = 0.01
latitude = {'$gte': rest_lat - degree_search , '$lte': rest_lat + degree_search}
longitude = {'$gte': rest_lon - degree_search , '$lte': rest_lon + degree_search}

query = {
        'geocode.longitude': longitude
        ,'geocode.latitude': latitude
        #'geocode' : { '$near' : {'$geometry': { 'type': "Point",  'coordinates': [  0.08384000, 51.49014200] },'$maxDistance': (1000)}}
        
        ,'RatingValue': '5'
       }
fields = {'BusinessName':1,'BusinessType':1,'BusinessTypeID':1, 'RatingValue':1, 'scores.Hygiene':1
          ,'HowClose': {'$abs':{'$sqrt':{'$sum':[{'$pow':[{'$subtract':  ['$geocode.latitude',51.49014200]}, 2]},{'$pow':[{'$subtract':  ['$geocode.longitude',0.08384000]}, 2]}]}}}
          , 'geocode.longitude':1,'geocode.latitude':1}
        
sort =  [('scores.Hygiene',1)]
limit = 5
# Print the results
top_5_results = list(establishments.find(query,fields).sort(sort))

pprint(top_5_results)

[{'BusinessName': 'Iceland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'HowClose': 0.009087281007246584,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62712ab'),
  'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'HowClose': 0.009079743003830907,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62712b7'),
  'geocode': {'latitude': 51.4875335693359, 'longitude': 0.0925370007753372},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Volunteer',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'HowClose': 0.008702188396605264,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62712db'),
  'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Atlantic Fish Bar',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'HowClose': 0.008127468899972094,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62712ec'),
  'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Plumstead Manor Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.008889132370056426,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62712ef'),
  'geocode': {'latitude': 51.481517791748, 'longitude': 0.0859939977526665},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Lumbini Grocery Ltd T/A Al-Iman',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.008335995249519182,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62712f1'),
  'geocode': {'latitude': 51.4871632, 'longitude': 0.0916256},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Greggs',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'HowClose': 0.008024429687831356,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271311'),
  'geocode': {'latitude': 51.4871406555176, 'longitude': 0.0912820026278496},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Tesco',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'HowClose': 0.008024429687831356,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271315'),
  'geocode': {'latitude': 51.4871406555176, 'longitude': 0.0912820026278496},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Abbi Wines',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.007662039797599984,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271335'),
  'geocode': {'latitude': 51.4871401, 'longitude': 0.0908895},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Dosa & Sambal Express',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.008085569822837776,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271339'),
  'geocode': {'latitude': 51.4877576, 'longitude': 0.091566},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Dilkush Tandoori',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'HowClose': 0.007473288048108534,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271378'),
  'geocode': {'latitude': 51.4878941, 'longitude': 0.0909672},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "Dadoo's Foodstore",
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.007119111296362094,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271393'),
  'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'High Street News & Wine',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.006937850551863198,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271394'),
  'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Old Mill',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'HowClose': 0.008434982633054285,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62713b5'),
  'geocode': {'latitude': 51.4817109, 'longitude': 0.0840959},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Belfry',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'HowClose': 0.0066170802088239425,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62713bb'),
  'geocode': {'latitude': 51.487928, 'longitude': 0.0900757},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Chick Chicken',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.0062638749612358244,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62713cf'),
  'geocode': {'latitude': 51.4880687, 'longitude': 0.0897508},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Conway Primary School',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.006087695624265903,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62713d7'),
  'geocode': {'latitude': 51.487865447998, 'longitude': 0.0894860029220581},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Best Halal Meat Limited',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.006101508486431698,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62713e8'),
  'geocode': {'latitude': 51.4881611, 'longitude': 0.089611},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Boba & Co UK',
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'HowClose': 0.006019327674251369,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271406'),
  'geocode': {'latitude': 51.4881627, 'longitude': 0.0895246},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Poundland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'HowClose': 0.005780124437533759,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627141e'),
  'geocode': {'latitude': 51.4884195010951, 'longitude': 0.0893575026992294},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'SD News & Mini Market',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.007432605048366202,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627142c'),
  'geocode': {'latitude': 51.4827461242676, 'longitude': 0.0831020027399063},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'KFC',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.005202611733543167,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627144a'),
  'geocode': {'latitude': 51.4884997, 'longitude': 0.0887766},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Co-op Food',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'HowClose': 0.009913413865803751,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627144c'),
  'geocode': {'latitude': 51.4806876203642, 'longitude': 0.0808583091748281},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Ambala & Karahi Ltd',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.0049721119255301035,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627144d'),
  'geocode': {'latitude': 51.4885934, 'longitude': 0.0885648},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'East Plumstead Pre School',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.005590639960752813,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627148a'),
  'geocode': {'latitude': 51.4845542907715, 'longitude': 0.0836590006947517},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Los carnales mexicanos',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'HowClose': 0.009743752879150093,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271499'),
  'geocode': {'latitude': 51.4810979, 'longitude': 0.0802144},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Plumstead Common Petrol Station',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.010493818451355514,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627149b'),
  'geocode': {'latitude': 51.4806732, 'longitude': 0.0793165},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'My Home (Plumstead)',
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'HowClose': 0.004147814379884552,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714a9'),
  'geocode': {'latitude': 51.4860247, 'longitude': 0.0843422},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Deescon Freight',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.003240564433861033,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714b2'),
  'geocode': {'latitude': 51.4890121, 'longitude': 0.0868772},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'St Patricks Social Club',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'HowClose': 0.003059263115524295,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714b3'),
  'geocode': {'latitude': 51.487438, 'longitude': 0.0852709},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Star INN',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'HowClose': 0.010747050515864942,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714c8'),
  'geocode': {'latitude': 51.4808120727539, 'longitude': 0.0785060003399849},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Bear Hugs Day Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.006764845225133784,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714cb'),
  'geocode': {'latitude': 51.4838756, 'longitude': 0.0812914},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Roundhouse Food and Wine',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.005679125596426514,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714cd'),
  'geocode': {'latitude': 51.4847465, 'longitude': 0.0820677},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "St. Patrick's School",
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.0022900330723867363,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714d6'),
  'geocode': {'latitude': 51.4884185791016, 'longitude': 0.0853480026125908},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Kings Cafe',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.002454873072074572,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714d8'),
  'geocode': {'latitude': 51.4892216, 'longitude': 0.0861158},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'U&A Foods Ltd',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.0025281307501775515,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714e2'),
  'geocode': {'latitude': 51.4892023, 'longitude': 0.086187},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Peace Manor Residential Care',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.005965462577200325,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62714ea'),
  'geocode': {'latitude': 51.484673, 'longitude': 0.0814574},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Eggfree Cake Box (Plumstead)',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.0019582194518504696,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271505'),
  'geocode': {'latitude': 51.4896464707035, 'longitude': 0.0857344851907352},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Danfe Restaurant',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.001722627957510032,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627150f'),
  'geocode': {'latitude': 51.4893348, 'longitude': 0.0853618},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "McDonald's",
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.0017129246860281295,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271543'),
  'geocode': {'latitude': 51.4908567, 'longitude': 0.0853967},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'D J Off Licence',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.0053651510295602105,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271552'),
  'geocode': {'latitude': 51.4862246, 'longitude': 0.0801741},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Suya Academy Ltd',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.0001575785835703454,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627155a'),
  'geocode': {'latitude': 51.4901495, 'longitude': 0.0839974},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Wilson & Bay Coffee Club',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'HowClose': 0.0003973030329578135,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627155b'),
  'geocode': {'latitude': 51.4897501, 'longitude': 0.0839053},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Om Stop & Go',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.009355127071822638,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627155d'),
  'geocode': {'latitude': 51.4835927, 'longitude': 0.0771598},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Waterside Primary School',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.003977258321325424,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271564'),
  'geocode': {'latitude': 51.4873504638672, 'longitude': 0.0810069963335991},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Jhas Catering Services',
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'HowClose': 0.0004465176480270052,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271571'),
  'geocode': {'latitude': 51.4900815, 'longitude': 0.0842824},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Rose Inn',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'HowClose': 0.00634356633842455,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271573'),
  'geocode': {'latitude': 51.486075, 'longitude': 0.0789717},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Greenwich Islamic Centre',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'HowClose': 0.0013710755376713463,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271583'),
  'geocode': {'latitude': 51.4903258, 'longitude': 0.0824813},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Bal Krishna Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.012213334745845622,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271588'),
  'geocode': {'latitude': 51.4824256896973, 'longitude': 0.0743729993700981},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "St Margaret's C of E Primary School",
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.012190377861484964,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627158b'),
  'geocode': {'latitude': 51.4824142456055, 'longitude': 0.074412003159523},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Quaggy at Margaret Bondfield',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.0072502299181113426,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271598'),
  'geocode': {'latitude': 51.4863967895508, 'longitude': 0.0776320025324821},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Fresh Chances',
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'HowClose': 0.007253295726081175,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627159a'),
  'geocode': {'latitude': 51.4863955, 'longitude': 0.0776292},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Tesco',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'HowClose': 0.01087576039870457,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627159c'),
  'geocode': {'latitude': 51.4989512, 'longitude': 0.0902181},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "Domino's Pizza",
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'HowClose': 0.010356211887075436,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62715ac'),
  'geocode': {'latitude': 51.4987492, 'longitude': 0.0895991},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Ashgreen House',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.00840479247882183,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62715f4'),
  'geocode': {'latitude': 51.4871520996094, 'longitude': 0.075984999537468},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Heronsgate Primary School Thamesmead Campus',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.004063350033126474,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62715fb'),
  'geocode': {'latitude': 51.4940567016602, 'longitude': 0.0827509984374046},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Breakfast Club',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.004914392187160273,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627160e'),
  'geocode': {'latitude': 51.4950485229492, 'longitude': 0.0835620015859604},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'BR6',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.005101480532159349,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271611'),
  'geocode': {'latitude': 51.4903331, 'longitude': 0.0787421},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Catering & Hospitality Education Dep',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'HowClose': 0.005101480532159349,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271617'),
  'geocode': {'latitude': 51.4903331, 'longitude': 0.0787421},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Real Deal',
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'HowClose': 0.007719649538679782,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b627166a'),
  'geocode': {'latitude': 51.4978398, 'longitude': 0.0844204},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Borna',
  'BusinessType': 'Manufacturers/packers',
  'BusinessTypeID': 7839,
  'HowClose': 0.006581979529746113,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b6271685'),
  'geocode': {'latitude': 51.4918377, 'longitude': 0.0774802},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Blossom Place Olive Services',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'HowClose': 0.005910190633137085,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62716a1'),
  'geocode': {'latitude': 51.4942476, 'longitude': 0.0795886},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Menagerie Cafe',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'HowClose': 0.008393752756957784,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62716cc'),
  'geocode': {'latitude': 51.4914321899414, 'longitude': 0.075545996427536},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Innova Nutraceutics Ltd',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.007605333324712827,
  'RatingValue': '5',
  '_id': ObjectId('63c1023c007121b1b62716d4'),
  'geocode': {'latitude': 51.4935863, 'longitude': 0.0770593},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Foodelo',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'HowClose': 0.009629993756009318,
  'RatingValue': '5',

In [209]:
# Convert result to Pandas DataFrame
results_doc = establishments.find(query,fields)
results_analysis_3=(list(top_5_results))
results_analysis_dff = pd.DataFrame(results_analysis_3[0:5])
results_analysis_dff

,_id,BusinessName,BusinessType,BusinessTypeID,RatingValue,scores,geocode,HowClose
0,63c1023c007121b1b62712ab,Iceland,Retailers - supermarkets/hypermarkets,7840,5,{'Hygiene': 0},"{'longitude': 0.0924199968576431, 'latitude': ...",0.009087
1,63c1023c007121b1b62712b7,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,5,{'Hygiene': 0},"{'longitude': 0.0925370007753372, 'latitude': ...",0.009080
2,63c1023c007121b1b62712db,Volunteer,Pub/bar/nightclub,7843,5,{'Hygiene': 0},"{'longitude': 0.09208, 'latitude': 51.4873437}",0.008702
3,63c1023c007121b1b62712ec,Atlantic Fish Bar,Takeaway/sandwich shop,7844,5,{'Hygiene': 0},"{'longitude': 0.0912164, 'latitude': 51.4867296}",0.008127
4,63c1023c007121b1b62712ef,Plumstead Manor Nursery,Caring Premises,5,5,{'Hygiene': 0},"{'longitude': 0.0859939977526665, 'latitude': ...",0.008889

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [210]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match':
                {
                    'scores.Hygiene': 0
                }
                }
# 2. Groups the matches by Local Authority
group_query = {'$group':{'_id':'$LocalAuthorityName', 'count': {'$sum':1}}}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort':{'count': -1}}

pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print('Number of documents:', len(results))

# Print the first 10 results
pprint(results[0:10])

Number of documents: 55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [211]:
# Convert the result to a Pandas DataFrame
results = list(establishments.aggregate(pipeline))
results_analysis_4=(list(results))
results_analysis_dff = pd.DataFrame(results_analysis_4)
results_analysis_dff

# Display the number of rows in the DataFrame
print('Rows in DataFrame: ', len(results_analysis_dff))

# Display the first 10 rows of the DataFrame
results_analysis_dff.head(10)

Rows in DataFrame:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542